
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>SignUp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PersonalDetails.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" 
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<div class="container">
    <div class="row shadow rounded">
        <div class="col-sm-6 col-mb-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                    <h2 class="text-pink text-center d-flex justify-content-right fst-italic"><h3><strong>Forgot Password</strong></h3></h2>
                    <span class="fst-italic text-muted">enter your email to get a OTP</span>
            </div>
        <h2>Password Reset Successful</h2>

<p>Your password has been successfully reset.</p>
<p>You can now log in using your new password.</p>

<p><a href="@Url.Action("Login", "Account")">Click here to log in</a></p>

        </div>
    </div>
</div>
        