@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row shadow rounded">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
                <div class="carousel-inner h-35">
                    <div class="carousel-item active h-35">
                        <img src="Images/carouselImages/Aspire.jpg" 
                        class="d-block w-10 h-5" alt="Add Class">
                    </div>
                    
                    <div class="carousel-item">
                        <img src="Images/carouselImages/About-Aspire-system.jpg" 
                        class="d-block w-10 h-5" alt="Add Class">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
           <div class="mb-3">
            <h2>We <span class="text-success fst-italic"> Aspire.</span>  You 
            <span class="text-success fst-italic">Inspire.</span> </h2>
           </div> 
           <div class="mb-3 p-3">
            <span><i class="fa-solid fa-meteor text-success mx-2 fs-4"></i></span>
            <span class="fd-5 text-dark fst-italic">Our core philosophy of<span class="text-success fst-italic"> Attention.</span>  <span class="text-success fst-italic">Always.</span>
           </div>
           <div class="mb-1 p-3">
            <span><i class="fa-solid fa-rocket text-success mx-2 fs-4"></i></span>
            <span class="fs-5 text-dark ">Communicates our belief in lavishing care and attention on our customers, employees and society.</span>
           </div>
           <div class="mb-1 p-3 ">
            <span><i class="fa-solid fa-briefcase text-success mx-2 fs-4"></i></span>
            <span class="fs-5 text-dark fst-italic">Dive into a Flexible, Employee-First Work Culture</span>
            </div>
            <div class="mg-1 p-3">
            <span><i class="fa-solid fa-location-dot text-success mx-2 fs-4"></i></span>
            <p class="py-2">A Great Place to Work is Our Way of Life</p>
            <p class="py-3 fst-italic">Be in the Spotlight</p>
           </div>
        </div>
    </div>
     
</div>